
<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>

</head>
<body>


<div class="card"  id="questionlist">

    <div class="class-header">Step 3 : Preferences </div>

    <div class="card-body">
        <form th:action="@{/marketing/outline}"  method="post"
              hx-post="/marketing/outline"
              hx-target="#stepHolder" hx-swap="innerHTML" >

            <div class="mb-3">
                <label for="preferences" class="form-label">Article Outline </label>

                <textarea class="form-control" id="preferences" name="outline"  rows="15" th:text="${outline}"></textarea>

                <div id="titleHelp" class="form-text">Review and edit outline. Approve it for section generation</div>
            </div>

            <button type="submit" class="btn btn-primary">Approve</button>
        </form>
    </div>
</div>





</body>
</html>
